body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(125deg, #070D00, #F4F9EE);
    background-size: 400%;
    animation: bganimation 15s infinite;
}

@keyframes bganimation  {

    50%{
        background-position: 100% 20%;
    }


}
