*{
  margin: 0;
  padding: 0;
}


html {
    background: #cbccc8;
    height: 100%;
}

body {
    min-height: 100vh;
}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #000;
} */

.wrapper {
    min-height: 100vh;
}

.App-header {
  background-color:#282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.list-box{

  min-height: 85vh;
  /* width: 100vw; */
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: auto;
  padding: 10px;
  /* margin-left: 10px; */
  z-index: 1;
}

.btn {
    padding: 5px;
}

.list{
    color: 	#ff0080;
    background-color: 	 #F4F9EE;
    font-family: 'Urbanist', sans-serif;
    box-shadow: 3px 3px 5px rgba(0,0,0, .5);
}

.list h4 {
    color: #05DA79;
    font-family: Indie Flower;
}

.btn-show{
    /* color: red; */
}
