*{
  margin: 0;
  padding: 0;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.list-box{
<<<<<<< HEAD
<<<<<<< HEAD
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow-x: auto;
=======
=======
>>>>>>> 66a29901333b168c7125d952826c5179f0e719f8
  /* height: 85vh; */
  width: 100vw;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  margin-left: 10px;
<<<<<<< HEAD
>>>>>>> 84521bb4fdd18f9fadf2bcb37e20925ae37494ca
=======

>>>>>>> 66a29901333b168c7125d952826c5179f0e719f8
}

.dummy {
    height: 120px;
}
