*{
  margin: 0;
  padding: 0;
}


html {
    background: #cbccc8;
    height: 100%;
}

body{
    width: 100%;
    height: 100v%;
    background-image: radial-gradient(pink 10%, lightblue 50%);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.list-box{

  min-height: 85vh;
  width: 100vw;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: auto;
  padding: 10px;
  margin-left: 10px;
}

.btn {
    padding: 5px;
}

.list{
    color: 	#ff0080;
    background-color: 	 #80ffff;
    font-family: 'Urbanist', sans-serif;
    box-shadow: 10px 10px 5px grey;
}
